body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    background-color: rgb(124, 78, 124);
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

h1 {
    color: white;
}

#password {
    padding: 2rem;
    text-align: center;
    width: 60%;
}

button {
    background-color: rgb(59, 59, 112);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 40%;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(45, 45, 94);
}

